.history-container {
  padding: 20px;
  text-align: center;
  background-color: #F9FAFB;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 70%;
  margin: 0 auto;
  max-width: 1000px;
}
.history-patient-content {
  width: 100%;
  background-color: #ffffff;
  padding: 40px 60px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.history-title {
  text-align: center;
  color: #5C80BC;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 12px;
  margin-bottom: 0 auto 30px auto;
  justify-content: center;
}

.filters input {
  padding: 12px 16px;
  border: 1px solid  #B8B5E0;
  border-radius: 10px;
  font-size: 15px;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.filters input:focus {
  outline: none;
  border-color: #5C80BC;
  box-shadow: 0 0 5px #5C80BC;
}

.filter-bt,
.downloadPDF-bt,
.refresh-bt {
  background-color: #5C80BC;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-bt:hover,
.downloadPDF-bt:hover {
  background-color: #466aa3 ;
}

.log-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}

.log-entry {
  width: 100%; /* en lugar de 60% */
  background-color: #E0E0E0; 
  padding: 15px 15px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(92, 128, 188, 0.15); 
  color: #2E2E2E;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
}



