.history-container {
  padding: 20px;
  text-align: center;
  background-color: #f9fafb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.history-patient-content {
  width: 90%;
  background-color: #ffffff;
  padding: 40px 60px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 60px;
}
.history-title {
  text-align: center;
  color: #5c80bc;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 12px;
  margin-bottom: 0 auto 30px auto;
  justify-content: center;
}

.filters input {
  padding: 12px 16px;
  border: 1px solid #b8b5e0;
  border-radius: 10px;
  font-size: 15px;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.filters input:focus {
  outline: none;
  border-color: #5c80bc;
  box-shadow: 0 0 5px #5c80bc;
}

.filter-bt,
.downloadPDF-bt,
.refresh-bt {
  background-color: #5c80bc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-bt:hover,
.downloadPDF-bt:hover {
  background-color: #466aa3;
}

.log-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
  text-align: left;
}

.log-entry {
  width: 100%; 
  background-color: #e0e0e0; 
  padding: 15px 15px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(92, 128, 188, 0.15);
  color: #2e2e2e;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
}
.refresh-bt {
  background-color: #466aa3;
  color: #e0e0e0;
  border: 1px solid #ccc;
  padding: 8px 12px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 8px;
}
