.edit-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  background-color: #F9FAFB;
  min-height: 85vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  overflow-y: hidden;
}
.edit-profile-content {
  width: 100%;
  max-width: 1000px;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.edit-profile-title {
  font-size: 22px;
  color: #5C80BC;
  margin-bottom: 15px;
  margin-top: 0px;
}
.edit-label {
  display: block;
  text-align: left;
  color: #5C80BC;
  font-weight: 600;
  margin-top: 15px;
  font-size: 14px;
}

.edit-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 6px;
  border: 1px solid #E0E0E0;
  font-size: 14px;
  background-color: #F9FAFB;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: border 0.3s;
  text-align: left;
  box-sizing: border-box;
}

.edit-input:focus {
  outline: none;
  border-color: #5C80BC;
  background-color: #ffffff;
}
.edit-save-button,
.edit-cancel-button {
  background-color: #A8D5BA;
  color: #fff;
  border: none;
  border-radius: 6px;
  width: 120px;
  padding: 8px;
  position: center;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px auto 0 auto;
  display: block;
}
.edit-save-button {
  background-color: #A8D5BA;
  color: #fff;
}
.edit-save-button:hover {
  background-color: #92c4a4;
  transform: scale(1.02);
}

.edit-cancel-button {
  background-color: #eb7b7b;
  color: #fff;
  margin-top: 10px;
}

.edit-cancel-button:hover {
  background-color: #d32f2f;
  transform: scale(1.02);
}

@media (max-width: 500px) {
  .edit-profile-container {
    width: 95%;
    padding: 10px;
  }

  .edit-profile-content {
    padding: 20px;
  }

  .edit-profile-title {
    font-size: 18px;
  }

  .edit-label,
  .edit-input {
    font-size: 13px;
  }

  .edit-save-button,
  .edit-cancel-button {
    width: 100%;
    max-width: 200px;
    font-size: 13px;
  }
}