/* Container */
.emotion-selector-page {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: #F9FAFB;
  height: 100%;
  min-height: 90vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.emotion-page-content {
  width: 85%;
  max-width: 900px;
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.intro-text {
  font-size: 20px;
  color: #5c80bc;
  font-weight: 500;
  margin-bottom: 2.5rem;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.question-box {
  background-color: #e0e0e0;
  padding: 8px 15px 12px 15px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  text-align: center;
  max-width: 600px;    
  width: 90%;          
  font-size: 1rem;    
  font-weight: 600;
  color: #5C80BC;  
  margin-left: auto;
  margin-right: auto;
}

/*=== EMOJI GRID === */
.emoji-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 25px 40px 40px 40px;;
  justify-items: center;
}

/*=== EMOJI CARD === */
.emoji-card {
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 12px;
  width: 90px;   
  height: 90px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.emoji-card:hover,
.emoji-card.selected {
  border: 2px solid #c9d9ee;
  background-color: #e6f0fc;
  transform: scale(1.05);
}

/* === EMOJI IMAGE === */
.emoji-card img {
  width: 32px;  
  height: 32px;
  margin-bottom: 5px;
}

.emoji {
  font-size: 24px; 
  margin-bottom: 6px;
}

.emoji-label {
  font-size: 13px;
  color: #333;
}
