/* Container */
.emotion-selector-page {
  background-color: #f9fafb;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  align-items: center;
}
.intro-text {
  font-size: 18px;
  color: #5c80bc;
  font-weight: 500;
  margin-bottom: 2.5rem;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.question-box {
  background-color: #e0e0e0;
  padding: 15px 25px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(#333);
  margin-bottom: 2.5rem;
  text-align: center;
  max-width: 900px;
  width: 80%;
  font-size: 1.3rem;
  font-weight: 600;
  color: #5C80BC;  
}
/*=== EMOJI GRID=== */
.emoji-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 40px;
  justify-items: center;
}
/*===EMOJI CARD === */
.emoji-card {
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 15px;
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}
.emoji-card:hover,
.emoji-card.selected {
  border: 2px solid #c9d9ee;
  background-color: #e6f0fc;
  transform: scale(1.05);
}
/* === EMOJI IMAGE=== */
.emoji-card img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.emoji {
  font-size: 32px;
  margin-bottom: 8px;
}
.emoji-label {
  font-size: 14px;
  color: #333;
}
